accelerate>=0.26
beautifulsoup4>=4.9
biopython>=1.78
boto3
click
datasets
-e ./module
ipython
joblib
matplotlib
numpy
pandas
PyYAML
regex
requests
scikit-learn
scipy
tensorboard
tokenizers
torch
torch_optimizer
tqdm
transformers
urllib3
wget
